<a href="https://colab.research.google.com/github/OmdenaAI/omdena-colombia-socialnetwork/blob/task-2-preprocessing/omdena-colombia-socialnetwork/src/tasks/task-2-preprocessing/Big_files_joining.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import glob
import os
import pandas as pd

In [2]:
all_files = glob.glob(os.getcwd()+ "/*.csv")

li = []

for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    li.append(df)

frame = pd.concat(li, axis=0, ignore_index=True)

In [3]:
frame.head()

   Unnamed: 0  ...         Username
0           0  ...      ser_seavers
1           1  ...      ser_seavers
2           2  ...  MaribelLilian11
3           3  ...       RitaMWelch
4           4  ...       RitaMWelch

[5 rows x 5 columns]

In [4]:
frame.tail()

         Unnamed: 0  ...         Username
2488423      491884  ...     LaUsUaReZtAr
2488424      491885  ...  elchicoturquesa
2488425      491886  ...     lalloraderia
2488426      491887  ...     nandorivas86
2488427      491888  ...     sara_casta03

[5 rows x 5 columns]

In [5]:
frame.shape

(2488428, 5)

In [6]:
frame.describe()

         Unnamed: 0      Tweet Id
count  2.488428e+06  2.488428e+06
mean   2.470167e+05  1.390916e+18
std    1.440562e+05  4.291007e+15
min    0.000000e+00  5.271434e+15
25%    1.223230e+05  1.389987e+18
50%    2.467445e+05  1.390057e+18
75%    3.711660e+05  1.390229e+18
max    5.135840e+05  1.431994e+18

In [7]:
frame.to_csv("big_files_joined.csv")